Docs/XML Schemas/commonTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!--
Version: PreRelesase
Last Revised: June 17, 2016
Author: Patrick Wingo 
  -->
  
  <!--- common attribute types-->
  <xs:simpleType name="pathtype">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  
  <xs:simpleType name="idtype">
    <xs:restriction base="xs:string">
      <!-- Note: this is a simplified version of the matching done in the OME source code; may not be 100% accurrate!-->
      <xs:pattern value="[^0-9\+*.=&lt;&gt;/!^%&amp;\s-][^\+*.=&lt;&gt;/!^%&amp;\s-]*" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="mdlpathtype">
    <xs:restriction base="xs:string">
      <!-- Note: this is a simplified version of the matching done in the OME source code; may not be 100% accurrate!-->
      <xs:pattern value="[^\+*=&lt;&gt;/!^%&amp;\s-]*" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="colortype">
    <xs:restriction base="xs:string">
      <!-- RGB triplet #:#:#, with each # is a double in the range of [0,1]-->
      <xs:pattern value="[0-9][.]{0,1}[0-9]*:[0-9][.]{0,1}[0-9]*:[0-9][.]{0,1}[0-9]*" />
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="pointtype">
    <xs:restriction base="xs:string">
      <!-- Point tuple: #,# where each # is a double-->
      <xs:pattern value="[-+]{0,1}[0-9]*([.]{0,1}|e{0,1}[-+]{0,1})[0-9]*,[-+]{0,1}[0-9]*([.]{0,1}|e{0,1}[-+]{0,1})[0-9]*"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="boxtype">
    <xs:restriction base="xs:string">
      <!-- Point tuple: #,# where each # is a double-->
      <xs:pattern value="[-+]{0,1}[0-9]*([.]{0,1}|e{0,1}[-+]{0,1})[0-9]*,[-+]{0,1}[0-9]*([.]{0,1}|e{0,1}[-+]{0,1})[0-9]*,[-+]{0,1}[0-9]*([.]{0,1}|e{0,1}[-+]{0,1})[0-9]*,[-+]{0,1}[0-9]*([.]{0,1}|e{0,1}[-+]{0,1})[0-9]*"/>
    </xs:restriction>
  </xs:simpleType>


  <xs:simpleType name="multivaltype">
    <xs:restriction base="xs:string">
      <xs:pattern value="[-0-9.e+\s]*" />
    </xs:restriction>
  </xs:simpleType>

  
  <xs:element name="param_file">
    <xs:annotation>
      <xs:documentation>Inserts (or overrides) the linked model's parameter files.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="filepath" type="pathtype" use="required">
        <xs:annotation>
          <xs:documentation>Path to parameter file (either .spf or .csv)</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="target_model_path" type="mdlpathtype">
        <xs:annotation>
          <xs:documentation>Path through model heirarchy to target root model for parameter file. If not include, parameter defaults to root model</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>
